{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="{% static 'asistencias/asistencias.css' %}">
</head>
<body>
    
    <main class="contenedor detalle">
    <h1>Detalle de la asistencia</h1>

    <p><strong>Tipo documento:</strong> {{ asistencia.tipo_documento }}</p>
    <p><strong>Documento:</strong> {{ asistencia.documento }}</p>
    <p><strong>Nombres:</strong> {{ asistencia.nombres }}</p>
    <p><strong>Apellidos:</strong> {{ asistencia.apellidos }}</p>
    <p><strong>Whatsapp:</strong> {{ asistencia.whatsapp }}</p>
    <p><strong>Fecha:</strong> {{ asistencia.fecha }}</p>
    <p><strong>Asistió:</strong> {{ asistencia.asistio }}</p>

    <a class="boton" href="/asistencias/editar/{{ asistencia.id }}/">Editar</a>
    <a href="/asistencias/lista/">Volver</a>
</main>

</body>
</html>